* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #a5a5a5;
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
}

.container {
 margin: 10px;
}

.post_card {
    max-width: 650px;
    width: 100%;
    margin: 10px auto;
    background-color: #222229;
    color: #fff;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.author_img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
}

.author_block {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

span {
    margin: 5px;
}

.author_nickname .post_date {
    color: #a5a5a5
}

.author_name {
    font-weight: bold;
}

.post_content {
    margin: 5px;
    font-weight: 400;
}

.post_img {
    max-width: 100%;
    border-radius: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.icon_div {
    display: flex;
    width:80px;
    align-items: center;
}

.icon {
    width: 1.25em;
    fill: #a5a5a5; 
}