* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #3a3a3a;
    min-height: 100vh;
    font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
}

/* Navigation */
.nav_links {
    background-color: rgb(27, 27, 27);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0 0 27px 25px rgb(27, 27, 27);
}

.main_link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(209, 209, 209);
    padding: 15px;
}
.main_link:first-child {
    color: rgb(33, 219, 243);
}

.main_link:hover {
    color: rgb(33, 219, 243);
}

/* Content */
#content {
    margin-top: 80px;
}

#logo_box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: rgb(209, 209, 209);
}

#cursor_logo {
    animation: 5s linear 0s infinite spin2;
}

@keyframes spin2 {
    from {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0, 1);
    }

    to {
        transform: scale(1, 1);
    }
}

#react_logo {
    animation: 10s linear 0s infinite spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}